@media (max-width: 1024px) {
    .Homepage {
        margin: 0 !important;
    }

    .ProductListPage {
        margin: 75px auto 1em;
    }

    .ProductDetail .Section_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .ProductListPage .Section_2 .Category {
            width: 100%;
        }

            .ProductListPage .Section_2 .Category.CategoryTop {
                width: 100%;
            }

        .ProductListPage .Section_1 .dropdown {
            right: 0;
            top: 140px;
        }

        .ProductListPage .Section_1 .Filter.scrollFilter {
            right: 0;
        }

    .PromotionPage, .ContactPage, .ServicePage, .LogInPage, .SignUpPage, .WishListPage {
        width: 100%;
        height: auto;
        margin: 65px auto 1em;
    }

        .PromotionPage .Section_1 img {
            width: auto;
            height: 70vh;
        }

    .ProductDetail {
        margin: 105px auto 3em;
    }

        .ProductDetail .Section_1 .Contain_img .ImgDisplay .PrevNext {
            right: 3.5em;
        }
}

@media (max-width: 768px) {
    .ProductDetail {
        margin: 85px auto 2em;
    }

        .ProductDetail .Section_1 .Contain_img .ImgItems {
            position: absolute;
            top: 0;
            left: 0;
            width: 6vw;
            z-index: 10;
        }

        .ProductDetail .Section_1 .Contain_img .ImgDisplay .PrevNext {
            left: 1em;
        }

        .ProductDetail .Section_1 .Content .SizeOption {
            margin: 2.5em 0 0 1em;
        }
}