@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="Dashboard">
	<div class="DashboardContent">
		<div class="ProductChart PageChart" id="ProductChart">
			<section class="Section_1">
				<ul>
					<li>
						<a href="/Admin/DashBoard/RevenueChart">
							<h3>Doanh thu hôm nay</h3>
							<span>20.000.000 VND</span>
							<p>Lợi nhuận: 20%</p>
						</a>
					</li>

					<li>
						<a href="/Admin/DashBoard/ProductChart">
							<h3>Sản phẩm bán được</h3>
							<span>12.340</span>
							<p>Tỷ lệ tăng: 15%</p>
						</a>
					</li>

					<li>
						<a href="/Admin/DashBoard/OrderChart">
							<h3>Đơn hàng bán được</h3>
							<span>2.340</span>
							<p>Tỷ lệ tăng: 40%</p>
						</a>
					</li>

					<li>
						<a href="/Admin/DashBoard/AccessWebStatistic">
							<h3>Lượt truy cập Website</h3>
							<span>32.340</span>
							<p>Tỷ lệ tăng: 30%</p>
						</a>
					</li>
				</ul>
			</section>

			<section class="Section">
				<div class="LeftContain">
					<div class="Title">
						<h2>Sản phẩm bán ra giờ qua</h2>
					</div>
					<div class="Chart">
						<canvas id="todayProductChart" width="800" height="400"></canvas>
					</div>
				</div>

				<div class="RightContain">
					<div class="Title">
						<h2>Chi tiết</h2>
					</div>

					<div class="ContainTable">
						<table>
							<thead>
								<tr>
									<th>Tên</th>
									<th>Loại</th>
									<th>Giá</th>
									<th>Số lượng</th>
									<th>Tổng</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>Air Force 1</td>
									<td>Low</td>
									<td>2.500.000</td>
									<td>10</td>
									<td>25.000.000</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>

			<section class="Section">
				<div class="LeftContain">
					<div class="Title">
						<h2>Sản phẩm yêu thích</h2>
					</div>
					<div class="Content">
						<div class="Chart">
							<canvas id="loveProductChartPage" width="400" height="200"></canvas>
						</div>
					</div>
				</div>

				<div class="RightContain">
					<div class="Title">
						<h2>Phân tích xu hướng</h2>
					</div>

					<div class="Content">
						<div class="Chart">
							<canvas id="dayGrowthChart" width="400" height="200"></canvas>
							<div>
								<h3>Chi tiết yêu thích</h3>
								<p>Các màu sắc, loại, bộ sưu tập khách hàng yêu thích.</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="Section">
				<div class="LeftContain">
					<div class="Title">
						<h2>Sản phẩm bán chạy</h2>
					</div>
					<div class="Content">
						<div class="Chart">
							<canvas id="productChartPage" width="400" height="200"></canvas>
						</div>
					</div>
				</div>

				<div class="RightContain">
					<div class="Title">
						<h2>Phân tích mua sắm</h2>
					</div>

					<div class="Content">
						<div class="Chart">
							<canvas id="dayGrowthChart" width="400" height="200"></canvas>
							<div>
								<h3>Chi tiết mua sắm</h3>
								<p>Các màu sắc, loại, bộ sưu tập khách hàng yêu thích.</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="Section">
				<div class="LeftContain">
					<div class="Title">
						<h2>Sản phẩm được tìm kiếm nhiều nhất</h2>
					</div>
					<div class="Content">
						<div class="Chart">
							<canvas id="mostProductChartPage" width="400" height="200"></canvas>
						</div>
					</div>
				</div>

				<div class="RightContain">
					<div class="Title">
						<h2>Phân tích tìm kiếm</h2>
					</div>
					<div class="Content">
						<div class="Chart">
							<canvas id="dayGrowthChart" width="400" height="200"></canvas>
							<div>
								<h3>Chi tiết tìm kiếm</h3>
								<p>Các màu sắc, loại, bộ sưu tập khách hàng yêu thích.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>