@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="Dashboard">
	<div class="DashboardContent">
		<div class="RevenueChart PageChart" id="RevenueChart">
			<section class="Section_1">
				<ul>
					<li>
						<a href="/Admin/DashBoard/RevenueChart">
							<h3>Doanh thu hôm nay</h3>
							<span>20.000.000 VND</span>
							<p>Lợi nhuận: 20%</p>
						</a>
					</li>

					<li>
						<a href="/Admin/DashBoard/ProductChart">
						<h3>Sản phẩm bán được</h3>
						<span>12.340</span>
						<p>Tỷ lệ tăng: 15%</p>
						</a>
					</li>

					<li>
						<a href="/Admin/DashBoard/OrderChart">
						<h3>Đơn hàng bán được</h3>
						<span>2.340</span>
						<p>Tỷ lệ tăng: 40%</p>
						</a>
					</li>

					<li>
						<a href="/Admin/DashBoard/AccessWebStatistic">
						<h3>Lượt truy cập Website</h3>
						<span>32.340</span>
						<p>Tỷ lệ tăng: 30%</p>
						</a>
					</li>
				</ul>
			</section>

			<section class="Section">
				<div class="LeftContain">
					<div class="Title">
						<h2>Doanh thu giờ qua</h2>
					</div>
					<div class="Chart">
						<canvas id="todayRevenueChart" width="800" height="400"></canvas>
					</div>
				</div>

				<div class="RightContain">
					<div class="Title">
						<h2>Sản phẩm bán ra</h2>
						<a href="/Admin/DashBoard/ProductChart">Xem chi tiết</a>
					</div>

					<div class="ContainTable">
						<table>
							<thead>
								<tr>
									<th>Tên</th>
									<th>Loại</th>
									<th>Giá</th>
									<th>Số lượng</th>
									<th>Tổng</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>Air Force 1</td>
									<td>Low</td>
									<td>2.500.000</td>
									<td>10</td>
									<td>25.000.000</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>

			<section class="Section">
				<div class="LeftContain">
					<div class="Title">
						<h2>Doanh thu Ngày / Tháng / Năm</h2>
					</div>
					<div class="Content">
						<div class="Chart">
							<canvas id="dailyRevenueChartPage" width="400" height="200"></canvas>
						</div>

						<div class="Chart">
							<canvas id="monthlyRevenueChartPage" width="400" height="200"></canvas>
						</div>

						<div class="Chart">
							<canvas id="yearRevenueChartPage" width="400" height="200"></canvas>
						</div>
					</div>
				</div>

				<div class="RightContain">
					<div class="Title">
						<h2>Phân tích tăng trưởng</h2>
					</div>

					<div class="Content">
						<div class="Chart">
							<canvas id="dayGrowthChart" width="400" height="200"></canvas>
							<div>
								<h3>Tăng trưởng Doanh Thu Ngày</h3>
								<p>So sánh doanh thu trong ngày này với ngày trước.</p>
							</div>
						</div>

						<div class="Chart">
							<canvas id="monthGrowthChart" width="400" height="200"></canvas>
							<div>
								<h3>Tăng trưởng Doanh Thu Tháng</h3>
								<p>So sánh doanh thu trong tháng này với tháng trước.</p>
							</div>
						</div>

						<div class="Chart">
							<canvas id="yearGrowthChart" width="400" height="200"></canvas>
							<div>
								<h3>Tăng trưởng Doanh Thu Năm</h3>
								<p>So sánh doanh thu trong năm này với năm trước.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>