@model Product

@{
	ViewData["Title"] = "Chỉnh sửa sản phẩm";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="Dashboard">
	<div class="DashboardContent">
		<div class="AddTable Manager">
			<div class="Container">
				<div class="Title">
					<h3>Sửa sản phẩm</h3>
				</div>

				<form asp-action="Edit" enctype="multipart/form-data">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label for="Name">Tên sản phẩm:</label>
						<input asp-for="Name" type="text" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="Description">Mô tả:</label>
						<textarea asp-for="Description" type="text" id="Description" class="form-control"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="Price">Giá:</label>
						<input asp-for="Price" type="number" step="0.01" class="form-control" />
						<span asp-validation-for="Price" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="StockQuantity">Số lượng tồn kho:</label>
						<input asp-for="StockQuantity" type="number" min="1" class="form-control" />
						<span asp-validation-for="StockQuantity" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="CategoryID">Danh mục:</label>
						<select asp-for="CategoryID" class="form-control" asp-items="ViewBag.ProductCategory">
							<option value="">-- Chọn danh mục --</option>
						</select>
						<span asp-validation-for="CategoryID" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="ProductColorID">Màu sắc:</label>
						<select asp-for="ProductColorID" class="form-control" asp-items="ViewBag.ProductColor">
							<option value="">-- Chọn màu sắc --</option>
						</select>
						<span asp-validation-for="ProductColorID" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="ProductSizeID">Kích thước:</label>
						<select asp-for="ProductSizeID" class="form-control" asp-items="ViewBag.ProductSize">
							<option value="">-- Chọn kích thước --</option>
						</select>
						<span asp-validation-for="ProductSizeID" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="ProductTypeID">Loại:</label>
						<select asp-for="ProductTypeID" class="form-control" asp-items="ViewBag.ProductType">
							<option value="">-- Chọn loại --</option>
						</select>
						<span asp-validation-for="ProductTypeID" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="GenderID">Giới tính:</label>
						<select asp-for="GenderID" class="form-control" asp-items="ViewBag.ProductGender">
							<option value="">-- Chọn giới tính --</option>
						</select>
						<span asp-validation-for="GenderID" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="ImageUpload">Ảnh:</label>
						<input asp-for="ImageUpload" type="file" id="imageUploadInput" class="form-control" />
						<span asp-validation-for="ImageUpload" class="text-danger"></span>
					</div>

					<img id="imagePreview" src="~/media/products/@Model.ImageUrl" width="200" style="display: block; margin-top: 10px;" />

					<div class="btnAddTable form-group">
						<button>Sửa</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.PartialAsync("_ValidationScriptsPartial");
	}

	<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
	<script>
		CKEDITOR.replace('Description');
	</script>
}