@{
	ViewData["Title"] = "Liên hệ";
}

<div class="ContactPage">
	<div class="Container">
		<section class="Section_1">
			<img src="/images/Banner/ContactBanner.png" alt="Alternate Text" />

			<div class="Content">
				<h2>Liên Hệ Chúng Tôi</h2>
			</div>
		</section>

		<section class="Section_2">
            <h2>XIN VUI LÒNG ĐIỀN THÔNG TIN BÊN DƯỚI.<br /> CHÚNG TÔI SẼ LIÊN HỆ VỚI BẠN TRONG THỜI GIAN SỚM NHẤT</h2>
            <form>
                <div class='TypeInput Name'>
                    <label>Họ và tên</label>
                    <input type='text' />
                </div>

                <div class='Contact'>
                    <div class='TypeInput'>
                        <label>Số điện thoại</label>
                        <input type='tel' />
                    </div>
                    <div class='TypeInput'>
                        <label>Email</label>
                        <input type='email' />
                    </div>
                </div>

                <div class='TypeInput Content'>
                    <label>Nội dung</label>
                    <input />
                </div>
                <div class='Check'>
                    <input type='checkbox' class='checkbox' />
                    <p><span>Tôi xác nhận rằng các đại lý Nike Store có thể gửi cho tôi thêm thông tin về các sản phẩm hoặc dịch vụ. *</span></p>
                </div>

                <div class='Check'>
                    <input type='checkbox' class='checkbox' />
                    <p><span>Tôi đã đọc và đống ý với các quy định và chính xách của Nike Store. *</span></p>
                </div>  
            </form>
            <button>Đăng ký</button>
		</section>
	</div>
</div>