@{
    ViewData["Title"] = "Chăm Sóc Giày Di Động";
}

<div class="shoe-care-mobile-service ServiceItems">
    <div class="Title">
        <h2>NIKE MOBILE SERVICE – BẠN ĐỒNG HÀNH CÙNG MỌI BƯỚC CHÂN</h2>
        <p>05/07/2021</p>
    </div>

    <div class="Content">
        <p>Với mạng lưới cửa hàng và dịch vụ trải dài khắp các thành phố lớn và tỉnh thành, Nike là một trong những thương hiệu thể thao có độ phủ rộng nhất, mang đến dịch vụ chăm sóc giày chuyên nghiệp đến tay khách hàng. Để đáp ứng nhu cầu khách hàng, dịch vụ Nike Mobile Service mang đến sự tiện lợi với các dịch vụ bảo dưỡng và sửa chữa giày ngay tại nhà hoặc nơi làm việc của bạn, giúp bạn tiết kiệm thời gian và luôn giữ đôi giày của mình trong tình trạng tốt nhất.</p>
        <img src="/images/Caring/nike-hanh-trinh-chuyen-doi-so.jpg" alt="img1" />
        <p>Chúng tôi hiểu rằng, giữa cuộc sống bận rộn, thời gian của bạn vô cùng quý giá. Vì vậy, dịch vụ Nike Mobile Service mang đến các dịch vụ bảo dưỡng giày chính hãng với chi phí không đổi, giống như khi bạn đến cửa hàng. Các dịch vụ bao gồm:</p>
        <p>- Kiểm tra tình trạng giày bằng công nghệ chuyên dụng.</p>
        <p>- Bảo dưỡng định kỳ và sửa chữa giày bị hư hỏng nhỏ.</p>
        <p>- Tư vấn về cách chăm sóc và bảo quản giày đúng cách.</p>
        <p>- Chia sẻ kinh nghiệm xử lý giày bị hư hỏng trong quá trình sử dụng.</p>

        <img src="/images/Caring/Nike-Run-Club.jpg" alt="img3" />
        <p>Kể từ ngày đầu tiên, dịch vụ Nike Mobile Service đã thu hút nhiều khách hàng từ các khu vực xa các cửa hàng Nike chính hãng như Hà Nội, Hồ Chí Minh, Đà Nẵng, Nha Trang, và các tỉnh khác. Trong tương lai, Nike Mobile Service sẽ tiếp tục mở rộng để phục vụ nhiều khách hàng hơn trên khắp cả nước.</p>
        <p>Để biết thêm thông tin chi tiết về dịch vụ cũng như lịch trình, khách hàng có thể liên hệ tổng đài 0934 1900 61.</p>
    </div>

    <a href="/" class="button">ĐẶT HẸN NGAY</a>
</div>
