@* @model IEnumerable<ProductReview> *@

@*     @foreach (var product in Model) *@
@*     { *@
@* 	<nav> *@
@* 		<div class="AccountInfor"> *@
@* 			<img src="@product.ImgUrl" alt="Alternate Text" /> *@
@* 			<div class="Account"> *@
@* 				<h3>@product.UserName *@
@* 					@for(int i = 0; i <= product.Rating; i++) *@
@* 					{ *@
@* 						<i class="fa-solid fa-star"></i> *@
@* 					} *@
@* 				</h3> *@
@* 				<p>@product.ReviewDate</p> *@
@* 			</div> *@
@* 		</div> *@

@* 		<div class="Content"> *@
@* 			<p>@product.Comment</p> *@
@* 		</div> *@
@* 	</nav> *@
@*     } *@
