@{
    ViewData["Title"] = "Tổng Đài Chăm Sóc Khách Hàng";
}

<div class="support-service ServiceItems">
    <div class="Title">
        <h2>TỔNG ĐÀI CHĂM SÓC KHÁCH HÀNG</h2>
        <p>05/07/2021</p>
    </div>

    <div class="Content">
        <p>Để trải nghiệm mua sắm và sử dụng sản phẩm của quý khách luôn an tâm và hài lòng, Nike luôn đồng hành cùng quý khách mọi lúc mọi nơi thông qua tổng đài chăm sóc khách hàng (hay còn gọi là Contact Center).</p>
        <img src="/images/Caring/20210630164423.jpg" alt="img" />
        <p>Bắt đầu hoạt động từ năm 2015, Contact Center của Nike đã đồng hành và phục vụ nhiều khách hàng qua việc tiếp nhận các cuộc gọi và cung cấp các thông tin về sản phẩm, dịch vụ, chương trình ưu đãi và thông tin liên hệ của các cửa hàng Nike trên toàn quốc.</p>
        <p>Khi quý khách gọi đến tổng đài 1800 1234, đội ngũ nhân viên chăm sóc khách hàng của chúng tôi sẽ tiếp nhận các cuộc gọi, tư vấn giải đáp các yêu cầu thắc mắc, hỗ trợ khách hàng về: tư vấn sản phẩm (giá cả, chương trình ưu đãi); thông tin về bảo hành, bảo dưỡng, các chương trình hỗ trợ khách hàng; giải đáp thắc mắc khác liên quan đến các cửa hàng Nike trên toàn quốc, với quy trình xử lý chuyên nghiệp.</p>
        <p>Thời gian làm việc của Contact Center từ 8h – 17h (Thứ 2 – Thứ 6) và từ 8h – 12h hoặc 17h (Thứ 7). Tất cả các cuộc gọi ngoài giờ làm việc, nếu quý khách cần hỗ trợ khẩn cấp, có thể lựa chọn chuyển tiếp cuộc gọi đến Bộ phận Kinh doanh hoặc Bộ phận Dịch vụ của Nike. Chúng tôi cam kết bảo mật tất cả thông tin khách hàng chia sẻ qua điện thoại.</p>
    </div>

    <a href="/" class="button">LIÊN HỆ NGAY</a>
</div>
